// Project Variables

// icon size
$icon-size: 55px;

//overlay variable
$dark-overlay: rgba(0,0,0,0.7);

body {
    overflow-x: hidden;
}

//navbar styling
.navbar {
  
  //styles the nav links on the navbar
  .nav-link {
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 1em !important;
      padding-right: 1em !important;
    }

  //styling for the active state of the navbar
  // this styling applies to the nav items that have an active state
  .nav-item.active {
      border-left: #444 3px solid;
    }  
}

.carousel-item {
  //this sets the height of the carousel
  height: 450px;
}

.carousel-image-1 {
      background: url('../img/image1.jpg');
      background-size: cover;

}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;

}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: cover;

}

.fa {
    font-size: $icon-size;
}

#home-heading {
    position: relative;
    min-height: 200px;
    //for the image
    background: url('../img/lights.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay {
  position: absolute;
  background-color: $dark-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}